/.idea/
*/*.iml
/*.iml
API/target/classes/com/songoda/arconix/api/ArconixAPI\.class

API/target/classes/com/songoda/arconix/api/events/Custom/ActionBarSendEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/CreeperExplodeEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/PlayerDamagePlayerEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/PlayerKillPlayerEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/RegionCreateEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/RegionEnterEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/RegionExitEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/RegionMoveInEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/SignEditorOpenEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/SpawnerBreakEvent\.class

API/target/classes/com/songoda/arconix/api/events/Custom/TitleSendEvent\.class

API/target/classes/com/songoda/arconix/api/events/CustomEventListeners\.class

API/target/classes/com/songoda/arconix/api/events/PlayerListeners\.class

API/target/classes/com/songoda/arconix/api/events/RegionEvents\.class

API/target/classes/com/songoda/arconix/api/handlers/HologramHandler\.class

API/target/classes/com/songoda/arconix/api/massivestats/MassiveStats\.class

API/target/classes/com/songoda/arconix/api/massivestats/MassiveStatsDataRequest\.class

API/target/classes/com/songoda/arconix/api/massivestats/MassiveStatsDataResponse\.class

API/target/classes/com/songoda/arconix/api/massivestats/MassiveStatsUpdateTask\.class

API/target/classes/com/songoda/arconix/api/mcupdate/MCUpdate\.class

API/target/classes/com/songoda/arconix/api/methods/APlayer\.class

API/target/classes/com/songoda/arconix/api/methods/Formatting\.class

API/target/classes/com/songoda/arconix/api/methods/formatting/TextComponent\.class

API/target/classes/com/songoda/arconix/api/methods/formatting/TimeComponent\.class

API/target/classes/com/songoda/arconix/api/methods/GUI\.class

API/target/classes/com/songoda/arconix/api/methods/inventory/AInventory\.class

API/target/classes/com/songoda/arconix/api/methods/math/AMath\.class

API/target/classes/com/songoda/arconix/api/methods/Maths\.class

API/target/classes/com/songoda/arconix/api/methods/serialize/Serialize\.class

API/target/classes/com/songoda/arconix/api/methods/sound/ASound\.class

API/target/classes/com/songoda/arconix/api/methods/Sounds\.class

API/target/classes/com/songoda/arconix/api/packets/ActionBar\.class

API/target/classes/com/songoda/arconix/api/packets/Enchantment\.class

API/target/classes/com/songoda/arconix/api/packets/Hologram\.class

API/target/classes/com/songoda/arconix/api/packets/PacketLibrary\.class

API/target/classes/com/songoda/arconix/api/packets/Particle\.class

API/target/classes/com/songoda/arconix/api/packets/SignEditor\.class

API/target/classes/com/songoda/arconix/api/packets/TabList\.class

API/target/classes/com/songoda/arconix/api/packets/Title\.class

API/target/classes/com/songoda/arconix/api/packets/UserPing\.class

API/target/classes/com/songoda/arconix/api/utils/ConfigWrapper\.class

API/target/classes/com/songoda/arconix/api/utils/DefaultFontInfo\.class

API/target/classes/com/songoda/arconix/api/utils/RegionUtils\.class

API/target/classes/com/songoda/arconix/api/utils/Serializer\.class

target/classes/com/songoda/arconix/plugin/Arconix\.class

target/classes/com/songoda/arconix/plugin/Commands/ArconixCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/BaseCommand\.class

target/classes/com/songoda/arconix/plugin/Commands/SubCommand\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/ActionBarCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/HologramCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/PingCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/RegionCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/ReloadCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/SignEditorCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/SubtitleCMD\.class

target/classes/com/songoda/arconix/plugin/Commands/Subcommands/TitleSubCMD\.class

target/classes/plugin\.yml

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/ActionBar1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/Hologram1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/Particle1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/Ping1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/SignEditor1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/TabList1_10R1\.class

v1_10_R1/target/classes/com/songoda/arconix/nms/v1_10_R1/Title1_10R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/ActionBar1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/Hologram1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/Particle1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/Ping1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/SignEditor1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/TabList1_11R1\.class

v1_11_R1/target/classes/com/songoda/arconix/nms/v1_11_R1/Title1_11R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/ActionBar1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/Enchantment1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/Hologram1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/Particle1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/Ping1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/SignEditor1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/TabList1_12R1\.class

v1_12_R1/target/classes/com/songoda/arconix/nms/v1_12_R1/Title1_12R1\.class

v1_13_R1/pom\.xml

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/ActionBar1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/Enchantment1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/Hologram1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/Particle1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/Ping1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/SignEditor1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/TabList1_13R1\.class

v1_13_R1/target/classes/com/songoda/arconix/nms/v1_13_R1/Title1_13R1\.class

v1_7_R4/target/classes/com/songoda/arconix/nms/v1_7_R4/ActionBar1_7R4\.class

v1_7_R4/target/classes/com/songoda/arconix/nms/v1_7_R4/Particle1_7R4\.class

v1_7_R4/target/classes/com/songoda/arconix/nms/v1_7_R4/Ping1_7R4\.class

v1_7_R4/target/classes/com/songoda/arconix/nms/v1_7_R4/SignEditor1_7R4\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/ActionBar1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/Hologram1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/Particle1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/Ping1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/SignEditor1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/TabList1_8R1\.class

v1_8_R1/target/classes/com/songoda/arconix/nms/v1_8_R1/Title1_8R1\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/ActionBar1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/Enchantment1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/Hologram1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/Particle1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/Ping1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/SignEditor1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/TabList1_8R3\.class

v1_8_R3/target/classes/com/songoda/arconix/nms/v1_8_R3/Title1_8R3\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/ActionBar1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/Hologram1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/Particle1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/Ping1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/SignEditor1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/TabList1_9R1\.class

v1_9_R1/target/classes/com/songoda/arconix/nms/v1_9_R1/Title1_9R1\.class

target/classes/com/songoda/arconix/api/ArconixAPI\.class

target/classes/com/songoda/arconix/api/events/Custom/ActionBarSendEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/CreeperExplodeEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/PlayerDamagePlayerEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/PlayerKillPlayerEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/RegionCreateEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/RegionEnterEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/RegionExitEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/RegionMoveInEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/SignEditorOpenEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/SpawnerBreakEvent\.class

target/classes/com/songoda/arconix/api/events/Custom/TitleSendEvent\.class

target/classes/com/songoda/arconix/api/events/CustomEventListeners\.class

target/classes/com/songoda/arconix/api/events/PlayerListeners\.class

target/classes/com/songoda/arconix/api/events/RegionEvents\.class

target/classes/com/songoda/arconix/api/handlers/HologramHandler\.class

target/classes/com/songoda/arconix/api/massivestats/MassiveStats\.class

target/classes/com/songoda/arconix/api/massivestats/MassiveStatsDataRequest\.class

target/classes/com/songoda/arconix/api/massivestats/MassiveStatsDataResponse\.class

target/classes/com/songoda/arconix/api/massivestats/MassiveStatsUpdateTask\.class

target/classes/com/songoda/arconix/api/mcupdate/MCUpdate\.class

target/classes/com/songoda/arconix/api/methods/APlayer\.class

target/classes/com/songoda/arconix/api/methods/Formatting\.class

target/classes/com/songoda/arconix/api/methods/formatting/TextComponent\.class

target/classes/com/songoda/arconix/api/methods/formatting/TimeComponent\.class

target/classes/com/songoda/arconix/api/methods/GUI\.class

target/classes/com/songoda/arconix/api/methods/inventory/AInventory\.class

target/classes/com/songoda/arconix/api/methods/math/AMath\.class

target/classes/com/songoda/arconix/api/methods/Maths\.class

target/classes/com/songoda/arconix/api/methods/serialize/Serialize\.class

target/classes/com/songoda/arconix/api/methods/sound/ASound\.class

target/classes/com/songoda/arconix/api/methods/Sounds\.class

target/classes/com/songoda/arconix/api/packets/ActionBar\.class

target/classes/com/songoda/arconix/api/packets/Enchantment\.class

target/classes/com/songoda/arconix/api/packets/Hologram\.class

target/classes/com/songoda/arconix/api/packets/PacketLibrary\.class

target/classes/com/songoda/arconix/api/packets/Particle\.class

target/classes/com/songoda/arconix/api/packets/SignEditor\.class

target/classes/com/songoda/arconix/api/packets/TabList\.class

target/classes/com/songoda/arconix/api/packets/Title\.class

target/classes/com/songoda/arconix/api/packets/UserPing\.class

target/classes/com/songoda/arconix/api/utils/ConfigWrapper\.class

target/classes/com/songoda/arconix/api/utils/DefaultFontInfo\.class

target/classes/com/songoda/arconix/api/utils/RegionUtils\.class

target/classes/com/songoda/arconix/api/utils/Serializer\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/ActionBar1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/Hologram1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/Particle1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/Ping1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/SignEditor1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/TabList1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_10_R1/Title1_10R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/ActionBar1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/Hologram1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/Particle1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/Ping1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/SignEditor1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/TabList1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_11_R1/Title1_11R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/ActionBar1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/Enchantment1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/Hologram1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/Particle1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/Ping1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/SignEditor1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/TabList1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_12_R1/Title1_12R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/ActionBar1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/Enchantment1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/Hologram1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/Particle1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/Ping1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/SignEditor1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/TabList1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R1/Title1_13R1\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/ActionBar1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/Enchantment1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/Hologram1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/Particle1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/Ping1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/SignEditor1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/TabList1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_13_R2/Title1_13R2\.class

target/classes/com/songoda/arconix/nms/v1_7_R4/ActionBar1_7R4\.class

target/classes/com/songoda/arconix/nms/v1_7_R4/Particle1_7R4\.class

target/classes/com/songoda/arconix/nms/v1_7_R4/Ping1_7R4\.class

target/classes/com/songoda/arconix/nms/v1_7_R4/SignEditor1_7R4\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/ActionBar1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/Hologram1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/Particle1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/Ping1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/SignEditor1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/TabList1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R1/Title1_8R1\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/ActionBar1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/Enchantment1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/Hologram1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/Particle1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/Ping1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/SignEditor1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/TabList1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_8_R3/Title1_8R3\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/ActionBar1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/Hologram1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/Particle1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/Ping1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/SignEditor1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/TabList1_9R1\.class

target/classes/com/songoda/arconix/nms/v1_9_R1/Title1_9R1\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/ActionBar1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/Enchantment1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/Hologram1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/Particle1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/Ping1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/SignEditor1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/TabList1_13R2\.class

v1_13_R2/target/classes/com/songoda/arconix/nms/v1_13_R2/Title1_13R2\.class
